# env & local config
.env
.env.*
env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
Thumbs.db

# build + deps
node_modules/
.next/

# ignore next swc native binaries (prevents 100MB+ files)
node_modules/next/sw*/**/*.node
node_modules/@next/swc-*/**/*.node

# Supabase temp
supabase/.temp
